version: "2"
services:
  consul:
    image: consul
    environment:
      - "CONSUL_LOCAL_CONFIG={\"disable_update_check\": true}"
      - "CONSUL_BIND_INTERFACE=eth0"
      - "CONSUL_HTTP_ADDR=0.0.0.0"
    entrypoint:
      - consul
      - agent
      - -server
      - -bootstrap-expect=1
      - -data-dir=/consul/data
      - -node=consul-one
      - -bind={{ GetInterfaceIP "eth0" }}
      - -client=0.0.0.0
      - -enable-script-checks=true
      - -ui
    volumes:
      - ./config/consul:/consul/data
    ports:
      - "8500:8500"
      - "8600:8600"
    networks:
      spnet:
        ipv4_address: 172.31.0.9
 
  activemq:
    image: streampipes/activemq
    ports:
      - "61616:61616"
      - "61614:61614"
      - "8161:8161"
      - "1883:1883"
    networks:
      spnet:
 
  kafka:
    image: wurstmeister/kafka:1.0.0
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: ###TODO ADD HOSTNAME HERE ###
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_MESSAGE_MAX_BYTES: 5000012
      KAFKA_FETCH_MESSAGE_MAX_BYTES: 5000012
      KAFKA_REPLICA_FETCH_MAX_BYTES: 10000000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      spnet:
 
 
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
    networks:
      spnet:
 
  swagger-ui:
    image: swaggerapi/swagger-ui
    ports:
      - "8080:8080"
    environment:
      - "API_URL=http://###TODO ADD HOSTNAME HERE ###/streampipes-backend/api/docs/swagger.json"
    networks:
      spnet:
 
  couchdb:
    image: couchdb:2.1.1
    ports:
      - "5984:5984"
    volumes:
       - ./config/couchdb/data:/opt/couchdb/data
    networks:
      spnet:
 
  backend:
    image: streampipes/ce/backend:0.60.1
    depends_on:
      - consul
      - couchdb
    ports:
      - "8030:8030"
    environment:
      - SP_KAFKA_HOST=###TODO ADD HOSTNAME HERE ###
    volumes:
      - ./config:/root/.streampipes
      - ./config/RDF4J:/root/.RDF4J
    networks:
      spnet:
 
  nginx:
    image: streampipes/ui:0.60.1
    ports:
      - "80:80"
    depends_on:
      - couchdb
      - activemq
      - consul
      - swagger-ui
      - connect-master
      - backend
    networks:
      spnet:
 
 
  connect-master:
    image: streampipes/ce/streampipes-connect-container:0.60.1
    depends_on:
      - consul
      - couchdb
      - connect-worker
    ports:
      - "8099:8099"
    environment:
      - EXECUTION_MODE=MASTER
      - SP_CONNECT_CONTAINER_HOST=connect-master      
      - SP_CONNECT_CONTAINER_WORKER=connect-worker
      - SP_KAFKA_HOST=###TODO ADD HOSTNAME HERE ###
    networks:
      spnet:
 
  connect-worker:
    image: streampipes/ce/streampipes-connect-container:0.60.1
    depends_on:
      - consul
      - couchdb
    ports:
      - "8098:8098"
    environment:
      - EXECUTION_MODE=WORKER
      - SP_CONNECT_CONTAINER_HOST=connect-master      
      - SP_CONNECT_CONTAINER_WORKER=connect-worker
      - SP_KAFKA_HOST=###TODO ADD HOSTNAME HERE ###
    networks:
      spnet:
 
  kafka-rest:
    image: confluentinc/cp-kafka-rest
    ports:
      - "8073:8082"
    environment:
      - ZK_CONNECTION_STRING=zookeeper:2181
      - KAFKA_REST_HOST_NAME=###TODO ADD HOSTNAME HERE ###
      - KAFKA_REST_ZOOKEEPER_CONNECT=zookeeper:2181
    networks:
      spnet:  
 
  pe-sources-random:
    image: sources-random-data-generator:0.60.1
    depends_on:
      - "consul"
#    ports:
#      - "8098:8090"
    environment:
      - SP_ICON_HOST=###TODO ADD HOSTNAME HERE ###
      - SP_KAFKA_HOST=###TODO ADD HOSTNAME HERE ###
    networks:
      spnet:
 
  sources-vehicle-simulator:
    image: sources-vehicle-simulator:0.60.1 
    depends_on:
      - "consul"
#    ports:
#      - "8098:8090"
    environment:
      - SP_ICON_HOST=###TODO ADD HOSTNAME HERE ###
      - SP_KAFKA_HOST=###TODO ADD HOSTNAME HERE ###
    networks:
      spnet:
 
  sources-watertank-simulator:
    image: sources-watertank-simulator:0.60.1
    depends_on:
      - "consul"
#    ports:
#      - "8098:8090"
    environment:
      - SP_ICON_HOST=###TODO ADD HOSTNAME HERE ###
      - SP_KAFKA_HOST=###TODO ADD HOSTNAME HERE ###
    networks:
      spnet:
 
  processors-transformation-jvm:
    image: processors-transformation-jvm:0.60.1
    depends_on:
      - "consul"
#    ports:
#      - "8098:8090"
    environment:
      - SP_ICON_HOST=###TODO ADD HOSTNAME HERE ###
      - SP_KAFKA_HOST=###TODO ADD HOSTNAME HERE ###
    networks:
      spnet:
 
  processors-filters-jvm:
    image: processors-filters-jvm:0.60.1 
    depends_on:
      - "consul"
#    ports:
#      - "8098:8090"
    environment:
      - SP_ICON_HOST=###TODO ADD HOSTNAME HERE ###
      - SP_KAFKA_HOST=###TODO ADD HOSTNAME HERE ###
    networks:
      spnet:
 
  sinks-databases-jvm:
    image: sinks-databases-jvm:0.60.1 
    depends_on:
      - "consul"
#    ports:
#      - "8098:8090"
    environment:
      - SP_ICON_HOST=###TODO ADD HOSTNAME HERE ###
      - SP_KAFKA_HOST=###TODO ADD HOSTNAME HERE ###
    networks:
      spnet:
 
  sinks-internal-jvm:
    image: sinks-internal-jvm:0.60.1
    depends_on:
      - "consul"
#    ports:
#      - "8098:8090"
    environment:
      - STREAMPIPES_HOST=###TODO ADD HOSTNAME HERE ###
      - SP_ICON_HOST=###TODO ADD HOSTNAME HERE ###
      - SP_NGINX_HOST=###TODO ADD HOSTNAME HERE ###
      - SP_KAFKA_HOST=###TODO ADD HOSTNAME HERE ###
    networks:
      spnet:
 
  sinks-notifications-jvm:
    image: sinks-notifications-jvm:0.60.1
    depends_on:
      - "consul"
#    ports:
#      - "8098:8090"
    environment:
      - SP_ICON_HOST=###TODO ADD HOSTNAME HERE ###
      - SP_KAFKA_HOST=###TODO ADD HOSTNAME HERE ###
    networks:
      spnet:
 

networks:
  spnet:
    driver: bridge
    ipam:
     config:
       - subnet: 172.31.0.0/16
         gateway: 172.31.0.1


volumes:
  esdata1:
    driver: local
